.clear {
    clear: both;
}

@font-face {
    font-family: pressstart2p;
    src: url(../fonts/pressstart2p-regular-webfont.woff2);
}

header {
    background-image: url(../img/header.png);
    background-size: 100% 212px;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.logo {
    float: left;
    margin-left: 80px;
}

input {
    position: absolute;
    top: 50px;
    right: 30px;
    width: 222px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
}

ul {
    float: right;
    margin-top: 70px;
}

li {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 800;
    font-style: italic;
    color: #38B764;
    display: inline;
    text-decoration: none;
}

header a {
    color: #38B764;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

#hottopics {
    width: 1175px;
    height: 440px;
    margin-top: 64px;
}

#hottopics #consoles {
    float: left;
    width: 650px;
    height: 440px;
}

#hottopics section {
    float: left;
    width: 450px;
    height: 440px;
    margin-left: 65px;
}

#hottopics p {
    margin-top: 100px;
    margin-bottom: 25px;
    line-height: 40px;
    font-weight: 600;
}

#hottopics a {
    color: #FFCD75;
    font-size: 30px;
}

#middle {
    height: 280px;
    width: 100%;
    margin-top: 75px;
}

.news {
    margin-top: 200px;
}

#newsimgr1 {
    float: right;
    width: 375px;
    height: 250px;
    border: 5px solid #38B764;
    transition: ease-in-out 1s;
}

#newsimgr2 {
    float: right;
    width: 375px;
    height: 250px;
    border: 5px solid #38B764;
    margin-top: -260px;
    margin-bottom: 100px;
    transition: ease-in-out 1s;
}

#newsimgl {
    float: left;
    margin-top: 20px;
    width: 375px;
    height: 250px;
    border: 5px solid #38B764;
    transition: ease-in-out 1s;
}

#newsimgl:hover, #newsimgr1:hover, #newsimgr2:hover{
    transform: scale(1.1);
    border: 0 solid;
    box-shadow: 5px 5px 10px #38B764;
}

#masterpiece {
    float: left;
    text-align: right;
    width: 815px;
    margin-left: 0px;
}

#article1 {
    margin-top: -210px;
    width: 815px;
    text-align: right;
}

#pokemon {
    float: right;
    margin-top: -260px;
    width: 815px;
    margin-left: -3000px;
}

#article2 {
    float: right;
    margin-top: -210px;
    width: 815px;
}

#pc {
    float: left;
    margin-top: 50px;
    text-align: right;
    width: 815px;
}

#article3 {
    margin-top: 20px;
    width: 815px;
    text-align: right;
}

.footer {
    background-image: url(../img/footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: -2px;
}

.improve {
    width: 180px;
    font-weight: 800;
    font-style: italic;
    text-decoration-line: underline;
    margin-top: -70px;
    margin-left: 1300px;
}

.facebook {
    margin-top: 200px;
    margin-left: 1300px;
    width: 32px;
    height: 32px;
}

.twitter {
    width: 40px;
    height: 32px;
}

.insta {
    width: 50px;
    height: 40px;
}

.twitch {
    width: 32px;
    height: 32px;
}

.help {
    float: right;
    padding-top: 50px;
    padding-right: 450px;
}

strong {
    color: #EF7D57;
}

.startscreen h2 {
    position: relative;
    color: #FFCD75;
    line-height: 55px;
    font-size: 44px;
    font-family: pressstart2p;
    margin-bottom: 50px;
}

.startscreen h3 {
    position: relative;
    top: -100px;
    width: 500px;
    font-family: "Montserrat";
    font-size: 44px;
    font-weight: 600;
    font-style: italic;
    color: #29366F;
}

.startscreen h4 {
    position: relative;
    top: -165px;
    left: 100px;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    color: #FFCD75;
    transition: ease-in-out 1s;
}

.startscreen h4:hover {
    transition: ease-in-out 1s;
    transform: scale(1.05);
}

.newsscreen h2 {
    position: relative;
    color: #FFCD75;
    line-height: 55px;
    font-size: 44px;
    font-family: pressstart2p;
    margin-bottom: 50px;
}

.newsscreen h3 {
    position: relative;
    top: 50px;
    color: #EF7D57;
    padding-bottom: 50px;
    font-family: pressstart2p;
    font-size: 44px;
}

.newsscreen h4 {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    color: #29366F;
}

.darkyellow {
    color: #e6b054;
}

.darkorange {
    color: #d8643d;
}

.darkgreen {
    color: #257179;
}

.back {
    position: absolute;
    z-index: 0;
    top: 100px;
    left: 0px;
}

.front {
    position: absolute;
    z-index: 1;
    top: 103px;
    left: 3px;
}

.shadow {
    width: 600px;
    height: 100px;
}

#triangle {
    background-image: url(../img/triangle.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#triangle section {
    width: 590px;
}

#triangle h2 {
    position: relative;
    color: #FFCD75;
    line-height: 55px;
    font-size: 44px;
    font-family: pressstart2p;
}

#triangle p strong {
    font-size: 100px;
    color: #257179;
}

#triangle #paragraph1 {
    margin-top: 200px;
    font-weight: 600;
    font-style: italic;
}

#triangle img {
    position: absolute;
    top: 550px;
    right: 260px;
}

#triangle #marvin {
    font-weight: 800;
    text-align: center;
    width: 735px;
    margin-top: 500px;
    margin-left: 670px;
    transform: translate(-50%, -50%);
}

#cutscene {
    background-image: url(../img/cutscene.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    color: white;
}

#cutscene h2 {
    float: right;
    margin-top: 100px;
    padding-bottom: 100px;
    font-family: pressstart2p;
    font-size: 44px;
}

#cutscene img {
    border-radius: 150px;
    margin-bottom: 150px;
}

#cutscene a, #cutscene strong{
    color: white;
}

.f-right {
    float: right;
    width: 720px;
}

.f-left {
    float: left;
    margin-top: 150px;
    margin-bottom: -600px;
    width: 550px;
}

#pokeball {
    background-image: url(../img/pokeball.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

#pokeball h2 {
    font-family: pressstart2p;
    font-size: 44px;
    margin-bottom: 50px;
}

#middle1 {
    padding-top: 100px;
    margin-left: 50%;
    margin: 0 auto;
    width: 1023px;
    color: white;
}

#pokeball img {
    margin-top: 50px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#middle2 {
    margin-top: 325px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 797px;
}

#triangle1 {
    background-image: url(../img/triangle1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
}

#emberglitch {
    position: relative;
    left: 200px;
    margin-bottom: 400px;
    width: 500px;
}

#triangle1 h2 {
    padding-top: 100px;
    margin-bottom: 100px;
    width: 684px;
    font-family: pressstart2p;
    font-size: 44px;
}

#triangle1 section {
    float: left;
    width: 550px;
}

#simon {
    float: right;
    margin-top: 220px;
    width: 592px;
}

.triangle2 {
    background-image: url(../img/triangle2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -350px;
    margin-bottom: 300px;
    height: 1300px;
}

#trleft {
    background-image: url(../img/testrunleft.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 556px;
    width: 465px;
    float: left;
    margin-top: -440px;
}

#rupee h2 {
    position: relative;
    top: -210px;
    margin-left: 480px;
    font-family: pressstart2p;
    font-size: 44px;
}

#trright {
    background-image: url(../img/testrunright.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 556px;
    width: 465px;
    float: right;
    margin-top: -490px;
}

#rupee {
    background-image: url(../img/testrun.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 500px;
    padding-bottom: 50px;
}

#rupeecentre {
    width: 853px;
    margin-top: 275px;
    margin-left: 50%;
    margin-bottom: 275px;
    transform: translate(-50%);
    color: white;
}

#rupeecentre strong, #rupeecentre a{
    color: white;
}

#rupee img {
    width: 903px;
    height: 400px;
    margin-left: -30px;
    margin-bottom: 50px;
    border: #A7F070 3px solid;
    box-shadow: 5px 5px 10px #A7F070;
}

#endproductleft {
    float: left;
    margin-top: -200px;
    width: 572px;
    line-height: 35px;
}

#endproductleft h2 {
    font-family: pressstart2p;
    font-size: 44px;
    font-style: normal;
    line-height: 44px;
    width: 500px;
}

#endproductleft img {
    width: 572px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#endproductright {
    float: right;
    width: 613px;
    margin-top: 20px;
    line-height: 35px;
}

footer {
    font-style: italic;
    color: white;
}

footer .link, a{
    color: white;
}

.footer2 {
    background-image: url(../img/footer2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1160px;
    margin-top: 600px;
}

.help2 {
    float: right;
    margin-top: 340px;
    margin-right: 450px;
}

.contactinfo {
    float: right;
    margin-top: -220px;
    margin-right: 10px;
}

.links {
    float: right;
    margin-top: -155px;
    margin-right: 300px;
}

.paragraph1 {
    font-weight: 700;
    font-style: italic;
}

.paragraph2 {
    font-weight: 400;
}

.paragraph3 {
    font-weight: 600;
}

.paragraph4 {
    font-weight: 400;
}

.paragraph5 {
    font-weight: 600;
    font-style: italic;
}

.quote {
    font-weight: 800;
    font-style: italic;
    color: black;
}

.link {
    font-weight: 800;
    text-decoration: underline;
    color: black;
}

.spacing {
    margin-bottom: 30px;
}

p, a, li {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 35px;
    text-decoration: none;
}